/* index.css */

/* Reset default margin and padding */
* {
  margin: 12;
}
ul {
  margin: 0;
  padding: 0;
  background-image: url(images/young-adult-having-fun-white-party.jpg);
  background-size: cover;
  background-position: center;
}
#that {
  color: rgb(94, 119, 119);
}
html::-webkit-scrollbar {
  width: 0.4rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #585454;
  border-radius: 5rem;
}

/* Navigation styles */
ul {
  list-style-type: none;
  background-color: #333;
  text-align: center;
}

li {
  display: inline-block;
  margin: 10px;
}

li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 20px;
  font-family: "poppins";
  font-size: medium;
}

li a:hover {
  background-color: #555;
}

/* Card styles */

.card-title {
  font-size: 20px;
  color: #333;
  margin-top: 20px;
  font-family: "poppins";
}

.card-text2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 90px;
}

.card-text {
  margin-top: 10%;
  color: rgb(29, 22, 22);
  font-family: "comicsans";
  font-size: 17px;
  text-align: center;
}

#that {
  background-image: linear-gradient(
    to right,
    #686571,
    #ee4b2b,
    #00c2cb,
    #ff7f50,
    #553c9a
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.content {
  text-align: center;
  padding: 50px;
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Event item styles */
.event-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 300px;
}
.container.text-center {
  margin-top: 20px;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-bottom: auto;
  font-family: "poppins";
}

footer p {
  margin: 0;
  font-size: 14px;
  font-family: "poppins" sans-serif;
}
.social-links {
  padding: 0.3rem 1rem;
  margin-top: 0.1rem;
}
footer .container {
  text-align: center;
  margin-bottom: 20px;
}
footer .footer-social {
  text-align: center;
}

.card-body1{
 font-style: italic;
 font-size: medium;
 background-color: #e4c7d1;
}