/* index.css */

/* Reset default margin and padding */
*{
  margin: 12;
}
ul {
  margin: 0;
  padding: 0;
  background-image: url(images/2022\ Latest\ Double-side\ Led\ Water\ Running\ Arch\ Program\ Control\ Outdoor\ Wedding\ Arch\,Background\,Stage\ Decoration\ -\ Buy\ Wedding\ Stage\ Backdrop\ Decoration\,Led\ Water\ Running\ Arch\,Led\ Wedding\ Arch\ Product\ on\ Alibaba_co.jpeg:Zone.Identifier);
  background-size: cover;
  background-position: center;
}
#that {
  color: rgb(94, 119, 119);
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #403e3e;
  border-radius: 5rem;
}


/* Navigation styles */
ul {
  list-style-type: none;
  background-color: #333;
  text-align: center;
}

li {
  display: inline-block;
  margin: 10px;
}

li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 20px;
  font-family: "poppins";
  font-size: medium;
}

li a:hover {
  background-color: #555;
}

/* Card styles */





.card-title {
  font-size: 30px;
  color: #333;
  margin-top: 20px;
  font-family: "poppins";
}

.card-text {
  margin-top: 19%;
  color: rgb(20, 20, 20);
  font-family: "poppins";
  font-size: 24px;
  text-align: center;
  top: 30%;
  bottom: 30%;
  left: 0;
  right: 0;
}


#that {
  background-image: linear-gradient(
    to right,
    #686571,
    #ee4b2b,
    #00c2cb,
    #ff7f50,
    #553c9a
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}



.content {
  text-align: center;
  padding: 50px;
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
